<ion-item-sliding #sliding>
	<ng-container *ngIf="divDisable">
		<ion-list lines="full">

			<ion-item lines="none">
				<h4><strong> {{turma.name}}  </strong></h4>
			</ion-item>

			<ng-container *ngIf="haveQuestion">
				<ion-item lines="none">
					<p>Ainda ha perguntas a fazer!</p>
				</ion-item>
			</ng-container>

			<ng-container *ngIf="!usuario.professor">
				<ion-item>
					<p>Sua nota nesta turma: {{nota}} </p>
				</ion-item>
			</ng-container>

		</ion-list>

	</ng-container>

</ion-item-sliding>