<ion-header>
	<ion-toolbar color="primary">
		<app-menu-toggle slot="start" menu="main-menu">
		</app-menu-toggle>
		<ion-title>
			Perfil
		</ion-title>

		<app-logout-button slot="end" menu="main-menu">
		</app-logout-button>

	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-menu-toggle autoHide="false">
		<ion-list>
			<ion-list-header *ngIf="user">
				<h1>{{user.displayName}}</h1>
			</ion-list-header>
			<ion-item>
				<h3>{{usuario.matricula}}</h3>
			</ion-item>
		</ion-list>
	</ion-menu-toggle>
</ion-content>
