<ion-header>
	<ion-toolbar color="primary">
		<app-menu-toggle slot="start" menu="main-menu">
		</app-menu-toggle>
		<ion-title>
			Perfil
		</ion-title>

		<app-logout-button slot="end" menu="main-menu">
		</app-logout-button>

	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-list>
		<ion-list-header *ngIf="user">
			<h1>{{user.displayName}} - {{usuario.matricula}}</h1>
		</ion-list-header>
	</ion-list>


	<ion-list *ngIf="(turmas$ | async) as turmas">

		<ng-container *ngIf="turmas.length > 0; else noTurmas">
			<app-perfil-item *ngFor="let turma of turmas"
							 [turma]="turma"
							 (select)="onSelect($event)">
			</app-perfil-item>
		</ng-container>

		<ng-template #noTurmas>
			<ion-item lines="none">
				Nao estou matriculado em nenhuma turma
			</ion-item>
		</ng-template>

	</ion-list>

	<ion-item class="branco">
		coisa em branco
	</ion-item>

</ion-content>
